@charset "UTF-8";
@import 'common/_fonts.scss';

// 基本フォントサイズ
$base-font-size: 12pt;
// 基本行送り
$base-line-height: 1.4rem;
// 基本フォントファミリー
$base-font-family: "EB Garamond", "Yakumono", "Noto Serif CJK jp", serif;

// 行数
$lines: 15;
// 1行あたり文字数
$characters-per-line: 40;
// 天
$ten: 17mm;
// 地
$chi: 15mm;
// 小口
$koguchi: 12mm;
// ノド
$nodo: 18mm;

// Rougeハイライト
@import 'common/rouge';
// EPUB用フォーマット
@import 'common/format_epub';
// タイポグラフィのスタイル定義
@import 'common/typography';
// コンテンツのスタイル定義
@import 'common/contents';