@charset "UTF-8";

@import '../common/contents-common';

/* 画像＋キャプション */
figure {
  float-reference: page;
  float: right;
  width: 100%;
  max-width: $content-width;
  max-height: $content-height;
  box-sizing: border-box;
  writing-mode: horizontal-tb;

  & > img {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  figcaption {
    text-align: center;
    font-size: 7pt;
    line-height: 14pt;
    margin-bottom: 4pt;
  }
}
