@charset "UTF-8";

html {
  /* 組み方向 */
  -webkit-writing-mode: vertical-rl;
  -epub-writing-mode:   vertical-rl;
  writing-mode: vertical-rl;

  orphans: 1;
  widows: 1;
}

* {
  margin: 0;
  padding: 0;
}

@page {
  size: $paper-size;
  bleed: $bleed-size;
  // 行送り * 行数
  width: $content-width;
  // フォントサイズ * 文字数
  height: $content-height;
  // margin: auto;
  margin-top: $ten;
  margin-bottom: $chi;
  marks: $marks;
}

@page :left {

  margin-right: $nodo;
  margin-left: $koguchi;

  @top-left {
    /* 左上ノンブル、柱（タイトル文字列） */
    content: counter(page) "　　" env(pub-title);
    font-size: 5.5pt;
    vertical-align: top;
    margin-left: 3.75pt;
    margin-top: 6mm;
    -webkit-writing-mode: horizontal-tb;
    -epub-writing-mode:   horizontal-tb;
    writing-mode: horizontal-tb;
  }

  @right-middle {
    /* 隠しノンブル */
    font-size: 4pt;
    margin-right: -19mm !important;
    padding: 2px;
    white-space: pre;
    -webkit-writing-mode: horizontal-tb;
    -epub-writing-mode:   horizontal-tb;
    writing-mode: horizontal-tb;
    content: counter(page);
  }
}

@page :first { 
  width: 100% !important;
  height: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;

  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }

  img {
    max-inline-size: 100%;
    max-block-size: 100vb;
    object-fit: contain;
  }
}

@page :last {
  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }
}

@page :right {

  margin-left: $nodo;
  margin-right: $koguchi;

  @top-right {
    /* 右上ノンブル、柱（出版物タイトル文字列） */
    content: env(doc-title) "　　" counter(page);
    font-size: 5.5pt;
    vertical-align: top;
    margin-right: 3.75pt;
    margin-top: 6mm;
    -webkit-writing-mode: horizontal-tb;
    -epub-writing-mode:   horizontal-tb;
    writing-mode: horizontal-tb;
  }

  @left-middle {
    /* 隠しノンブル */
    font-size: 4pt;
    margin-left: -19mm !important;
    padding: 2px;
    white-space: pre;
    -webkit-writing-mode: horizontal-tb;
    -epub-writing-mode:   horizontal-tb;
    writing-mode: horizontal-tb;
    content: counter(page);
  }
}

// /* 表紙ページ */
.cover {
  page: cover;
}

@page cover {
  width: 100% !important;
  height: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;

  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }
}

.title {
  page: title;
}

@page title {
  width: 100% !important;
  height: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;

  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }
}

// @page title {
//   size: $paper-size;
//   bleed: $bleed-size;
//   width: $paper-width;
//   height: $paper-height;
//   marks: $marks;
//   margin-top: 0 !important;
//   margin-bottom: 0 !important;
//   margin-right: 0 !important;
//   margin-left: 0 !important;

//   @top-left {
//     content: none;
//   }
//   @top-right {
//     content: none;
//   }

//   @right-middle {
//     content: none;
//   }

//   @left-middle {
//     content: none;
//   }
// }

/* 目次ページ */
.toc {
  page: toc;
}

@page toc {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
}

.colophon {
  page: colophon;
}

@page colophon {
  size: $paper-size;
  bleed: $bleed-size;
  width: $content-width;
  height: $content-height;
  margin-top: $ten;
  margin-bottom: $chi;
  margin-left: $nodo;
  margin-right: $nodo;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -epub-writing-mode: horizontal-tb;

  div.colophon-content {
    margin-top: 50%;

    p.title {
      font-size: 1.6rem;
    }
  
    p.subtitle {
      font-size: 1.3rem;
    }
  }

  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
}

.profile {
  page: profile;
}

@page profile {
  size: $paper-size;
  bleed: $bleed-size;
  width: $content-width;
  height: $content-height;
  margin-top: $ten;
  margin-bottom: $chi;
  margin-left: $nodo;
  margin-right: $nodo;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -epub-writing-mode: horizontal-tb;

  img {
    width: 120px;
    height: 120px;
  }

  @top-left {
    font-size: 5.5pt;
    vertical-align: top;
    margin-left: 3.75pt;
    margin-top: 6mm;
    -webkit-writing-mode: horizontal-tb;
    -epub-writing-mode:   horizontal-tb;
    writing-mode: horizontal-tb;
  }

  @top-right {
    font-size: 5.5pt;
    vertical-align: top;
    margin-right: 3.75pt;
    margin-top: 6mm;
    -webkit-writing-mode: horizontal-tb;
    -epub-writing-mode:   horizontal-tb;
    writing-mode: horizontal-tb;
  }
}

.backcover {
  page: backcover;
}

@page backcover {
  width: 100% !important;
  height: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;

  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
}

// @page backcover {
//   size: $paper-size;
//   bleed: $bleed-size;
//   width: $paper-width;
//   height: $paper-height;
//   marks: $marks;
//   margin-top: 0 !important;
//   margin-bottom: 0 !important;
//   margin-right: 0 !important;
//   margin-left: 0 !important;

//   @top-left {
//     content: none;
//   }
  
//   @top-right {
//     content: none;
//   }

//   @right-middle {
//     content: none;
//   }

//   @left-middle {
//     content: none;
//   }
// }

@media print {
  .cover {
    content: none;
  }
}
